@media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .header {
    display: block;
    width: 100%;
    height: 60px;
    background-color: #cd4d00;
  }

  .header h1 {
    color: #ffffff;
    font-size: x-large;
    text-align: center;
    position: relative;
    top: 30%;
    background-color: #cd4d00;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20%;
  }

  .logo img {
    width: 295px;
    height: 120px;
  }

  .flex-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
  }

  .flex-green {
    width: 110px;
    height: 80px;
    padding: 20px;
    padding-bottom: 10px;
    margin: 10px;
    top: 2px;
    background-color: #94c47d;
    font-size: x-large;
    text-align: center;
    color: #ffffff;
    font-style: oblique;
    font-weight: bolder;
  }

  .flex-red {
    width: 110px;
    height: 80px;
    padding: 20px;
    padding-bottom: 10px;
    margin: 10px;
    top: 2px;
    background-color: #e06666;
    font-size: x-large;
    text-align: center;
    color: #ffffff;
    font-style: oblique;
    font-weight: bolder;
  }

  .flex-blue {
    width: 110px;
    height: 80px;
    padding: 20px;
    padding-bottom: 10px;
    margin: 10px;
    top: 2px;
    background-color: #6d9eeb;
    font-size: x-large;
    text-align: center;
    color: #ffffff;
    font-style: oblique;
    font-weight: bolder;
  }

  .text {
    display: flex;
    position: relative;
    margin-left: 55%;
    margin-top: 290px;
    padding-bottom: 2%;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
  }

  footer {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px;
    background-color: #d8d8d8;
  }

  form-group {
    display: flex;
    position: relative;
    width: 100%;
  }

  .form-group input {
    display: flex;
    height: auto;
    width: 250px;
    font-size: medium;
    border-color: #ffffff;
    border-style: groove;
    background-color: #ffffff;
  }
  button {
    height: 45px;
    width: 80px;
    background-color: #cd4d00;
    border-style: none;
    color: #ffffff;
    font-size: medium;
  }
}
