* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #595f96;
}

.header {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #cd4d00;
}

.header h1 {
  color: #ffffff;
  font-size: 28px;
  text-align: center;
  position: relative;
  top: 18%;
  background-color: #cd4d00;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}

.logo img {
  width: 265px;
  height: 110px;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}

.flex-green {
  width: 140px;
  height: 100px;
  padding: 20px;
  margin: 10px;
  top: 2px;
  background-color: #94c47d;
  font-size: xx-large;
  text-align: center;
  color: #ffffff;
  font-style: oblique;
  font-weight: bolder;
}

.flex-red {
  width: 140px;
  height: 100px;
  padding: 20px;
  margin: 10px;
  background-color: #e06666;
  font-size: xx-large;
  text-align: center;
  color: #ffffff;
  font-style: oblique;
  font-weight: bolder;
}

.flex-blue {
  width: 140px;
  height: 100px;
  padding: 20px;
  margin: 10px;
  background-color: #6d9eeb;
  font-size: xx-large;
  text-align: center;
  color: #ffffff;
  font-style: oblique;
  font-weight: bolder;
}

.text {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  margin-left: 90%;
  margin-top: 146px;
  padding-bottom: 2%;
  font-size: large;
  font-weight: bold;
  font-style: italic;
  color: #ffffff;
}

footer {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #d8d8d8;
}

.footer-email {
  left: 50%;
  top: 30%;
  position: absolute;
  transform: translateX(-50%);
}

.form-group {
  display: flex;
  position: relative;
  width: 100%;
}

.form-group input {
  display: flex;
  height: auto;
  width: 400px;
  font-size: medium;
  border-color: #ffffff;
  border-style: groove;
  background-color: #ffffff;
}
button {
  height: 45px;
  width: 80px;
  background-color: #cd4d00;
  border-style: none;
  color: #ffffff;
  font-size: medium;
}
